myenv
.idea
/entregas/entrega-1/app/outsideVectors.npy
/entregas/entrega-1/app/saved_params_10000.npy
/entregas/entrega-1/app/saved_params_15000.npy
/entregas/entrega-1/app/saved_params_20000.npy
/entregas/entrega-1/app/saved_params_25000.npy
/entregas/entrega-1/app/saved_params_30000.npy
/entregas/entrega-1/app/saved_params_35000.npy
/entregas/entrega-1/app/saved_params_40000.npy
/entregas/entrega-1/app/saved_params_5000.npy
/entregas/entrega-1/app/saved_state_10000.pickle
/entregas/entrega-1/app/saved_state_15000.pickle
/entregas/entrega-1/app/saved_state_20000.pickle
/entregas/entrega-1/app/saved_state_25000.pickle
/entregas/entrega-1/app/saved_state_30000.pickle
/entregas/entrega-1/app/saved_state_35000.pickle
/entregas/entrega-1/app/saved_state_40000.pickle
/entregas/entrega-1/app/saved_state_5000.pickle
/entregas/entrega-1/app/centerWordVectors.npy
